<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova&family=Raleway:wght@700;900&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/Blog.css">
    
</head>
<body>
    <header class="header header-inicio">
        <div class="contenido-header contenedor" style="background-image: url('/static/img/Imagen5.5.jpg'); height: 650px;">
            <div class="barra">
                <div class="logo">
                    <img src="/static/img/logo1.jpeg" alt="logo cafeteria">
                </div>
                <nav class="nav-principal">
                    <a class="activo" href="/natura-viva/inicio">Inicio</a>
                    <a href="/natura-viva/nosotros">Nosotros</a>
                    <a href="/natura-viva/productos">Productos</a>
                    <a href="/natura-viva/recetas">Recetas</a>
                    <a href="/natura-viva/blog">Blog</a>
                    <a href="/login/cerrar">Cerrar Session</a>
                </nav>
            </div>

            <div class="texto-header">
                <h1>BIENVENIDOS A NUESTRO BLOG</h1>
            </div>
        </div>
    </header>

    <main class="contenedor contenido-principal text-center">
        <section class="conoce">
            <h2><span>CONOCE MÁS</span>NUESTROS CONSEJOS</h2>

            <p> Es importante incorporar una variedad de ejercicios que incluyan cardio, fuerza y flexibilidad. Esto no solo mejora tu condición física general, sino que también previene el aburrimiento y reduce el riesgo de lesiones por sobreuso. Además, la consistencia es clave: establece un horario regular para hacer ejercicio y trata de mantenerlo, adaptándolo a tu rutina diaria para que sea sostenible a largo plazo.</p>
        </section>

        <section class="estilos" style="margin-bottom: 4rem;">
            <ul class="listado-estilos">
                <li>
                    <img src="/static/img/vida.jpg" alt="icono vida">
                    <p>¡Olvídate del estrés! 4 remedios caseros para reducir el estrés de manera natural!</p>
                    <span>Si quieres olvidarte del estrés, ¡estás en el lugar correcto! Te traemos 5 remedios caseros que te ayudaran a mejorar el estrés.</span>

                </li>

                <li>
                    <img src="/static/img/vida1.jpg" alt="icono vida1">
                    <p>5 hábitos para tener energía durante todo el día</p>
                    <span>Hay varias razones por las que nos pueden faltar las energías. Podría deberse a la falta de sueño, el estrés, la mala alimentación, ser síntoma de alguna enfermedad o mil razones más. </span>
                </li>

                <li>
                    <img src="/static/img/vida2.jpg" alt="icono vida2">
                    <p>¿Qué puedo hacer para mejorar mi memoria? </p>
                    <span>Cuando el olvidarnos de las cosas se vuelve algo rutinario, tenemos que prestar atención y tomar medidas para corregirlo. Y, de ser posible, hay que prevenirlo. </span>
                </li>
                
            </ul>
        </section>

        <section class="estilos">
            <ul class="listado-estilos" style="margin-bottom: 4rem;">
                <li>
                    <img src="/static/img/art.jpg" alt="icono vida">
                    <p>¿Cómo cuidar las articulaciones en todo tiempo?</p>
                    <span>​Sabemos que quieres tener articulaciones fuertes para evitar el dolor de la artritis. Ten en cuenta que el cartílago de las articulaciones se desgasta con el tiempo, lo que causa que los huesos rozan entre sí y sientas dolor.</span>

                </li>

                <li>
                    <img src="/static/img/menos.jpg" alt="icono vida1">
                    <p>5 remedios naturales que ayudan a aliviar los síntomas de la menopausia</p>
                    <span>La menopausia es un periodo natural de cambios en el cuerpo. Sin embargo, eso no quiere decir que debas tener que lidiar con los síntomas molestos que esta trae.</span>
                </li>

                <li>
                    <img src="/static/img/pul.jpg" alt="icono vida2">
                    <p>Cómo proteger tus pulmones de manera natural</p>
                    <span>Nuestros pulmones nos mantienen vivos y es fundamental priorizar su salud. En este artículo te enseñaremos algunas cosas que puedes hacer para cuidarlos y que superalimentos te pueden ayudar a lograrlo.</span>
                </li>
                
            </ul>
        </section>

        <section class="estilos" style="margin-bottom: 4rem;">
            <ul class="listado-estilos">
                <li>
                    <img src="/static/img/miel.jpg" alt="icono vida">
                    <p>¿Para qué sirve la alcachofa? ¡Conoce sus bondades!</p>
                    <span>La miel de abejas tiene distintos beneficios para la salud. Ha sido utilizada desde tiempos ancestrales como endulzante, alimento nutritivo y como alivio natural para dolencias como la tos.</span>

                </li>

                <li>
                    <img src="/static/img/sanojpg.jpg" alt="icono vida1">
                    <p>¿Cómo bajar de peso sanamente con Santa Natura</p>
                    <span>En muchas ocasiones, el hígado suele ser ignorado cuando se habla de la salud. Por lo general se tiende a priorizar otros órganos como el corazón o los pulmones. ¡Pero no debes dejar de lado la salud de tu hígado!</span>
                </li>

                <li>
                    <img src="/static/img/alca.jpg" alt="icono vida2">
                    <p>¡Cuídate de las enfermedades cardiovasculares con Santa Natura!</p>
                    <span>Esta popular verdura actúa como una planta medicinal gracias a sus múltiples beneficios.  La alcachofa es rica en minerales, antioxidantes y flavonoides. También aporta vitaminas C, A y ácido fólico.</span>
                </li>
                
            </ul>
        </section>

        <div class="imagenes-adicionales">
            <!-- Aquí puedes colocar tus imágenes adicionales -->
            <img src="/static/img/8.png" alt="imagen-redonda">
            <img src="/static/img/8.1.png" alt="imagen-redonda">
            <img src="/static/img/8.2.png" alt="imagen-redonda">
            <img src="/static/img/8.3.png" alt="imagen-redonda">
        </div>
        
    </main>
    <footer class="footer">
        <div class="contenedor contenido-footer bg-white">
            <div class="footer-box ubicacion">
                <h3>Ubicación</h3>
                <p>AV. Gerardo Unger #6543</p>
                <p>Meza Redonda</p>
                <p>Independencia</p>
            </div>
            <div class="footer-box reservacion">
                <h3>Reservación</h3>
                <p>Tel. +51 989454101</p>
                <p>Tel. +51 989454101</p>
                <p>Llamar</p>
            </div>
            <div class="footer-box politica">
                <h3>Política</h3>
                <p>Términos y condiciones</p>
                <p>Cambios y Devoluciones</p>
                <p>Política de Privacidad</p>
                <p>Libro de Reclamaciones</p>
            </div>
            <div class="footer-box footer-pago" >
                <h3>Aceptamos</h3>
                <img src="/static/img/visa.png" alt="visa">
            </div>
        </div>
        <p class="copyright">Naturalia © 2024| Livins Green International SAC RUC: 20212346544</p>

</body>