<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOSOTROS</title>
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/nosotros.css">
    
 
</head>
<body>
    
    <main>

        <header class="header header-inicio">
            <div class="contenido-header contenedor" style="background-image: url('/static/img/3.jpg'); height: 650px;">
                <div class="barra">
                    <div class="logo">
                        <img src="/static/img/logo1.jpeg" alt="logo cafeteria">
                    </div>
                    <nav class="nav-principal">
                      <a class="activo" href="/natura-viva/inicio">Inicio</a>
                      <a href="/natura-viva/nosotros">Nosotros</a>
                      <a href="/natura-viva/productos">Productos</a>
                      <a href="/natura-viva/recetas">Recetas</a>
                      <a href="/natura-viva/blog">Blog</a>
                      <a href="/login/cerrar">Cerrar Session</a>
                  </nav>
                </div>
    
                <div class="texto-header">
                    <h1>Sobre   Nosotros:</h1>
                </div>
            </div>
        </header>


    <article  class="partedos">
        
             
        

      <div class="uno">
             <figure><img src="/static/img/NOSOTROS - tienda.png" alt=""></figure>
             <div class="agrupacion">
      
             <h2 style="color: green;font-size: 25px;">Bienvenidos a Naturaleza Viva: <br></h2>
            
             <p>En Naturaleza Viva, nos dedicamos a ofrecer superalimentos de la más alta calidad para potenciar tu bienestar y salud, proporcionando productos naturales, ricos en nutrientes y respaldados por la ciencia para ayudarte <br> a vivir una vida plena y saludable.<br><br></p>

             <h3>¿Por qué elegirnos? <br></h3>
                
             <div class="separadorde">
             <div class="separar1"><h4>Calidad Superior</h4>

             <h4>Sostenibilidad</h4></div>

             <div class="separar2"><h4>Innovación y ciencia</h4>
                
             <h4>Compromiso con la Salud</h4></div>

             <h2><br>Nuestros Productos</h2>
              <p><br>Descubre nuestra amplia gama de superalimentos, desde semillas de chía y quinoa, hasta polvos de espirulina y matcha. Cada producto es una fuente concentrada de nutrientes esenciales, diseñada para complementar tu dieta y mejorar tu bienestar general.</p>
            </div>

             </div>
        </div>

  </article>
    
  <article  class="nosotros1">
    
         
  

  <div class="agrupacion">
  <div class="uno">
       
         <h1 style="color: green;font-size: 25px;">MISIÓN:</h1>
        
         <p style="font-size: 20px;"><br><h2>Proveer Superalimentos de Calidad:</h2> Ofrecer productos naturales y nutritivos que apoyen el bienestar físico y mental de nuestros clientes.
          <br><br><h2>Promover la Salud Integral:</h2> Fomentar una vida saludable a través de la alimentación consciente y el consumo de superalimentos.
          <br><br><h2>Sostenibilidad y Ética:</h2> Adoptar prácticas sostenibles y éticas en toda nuestra cadena de suministro, desde la producción hasta la entrega.
        <br><br><h2>Promover la Salud Integral:</h2> Fomentar una vida saludable a través de la alimentación consciente y el consumo de superalimentos.
        </p>
  </div>


  
  <div class="dos">
          
             <h1 style="color: green;font-size: 25px;">VISIÓN:</h1>
            
             <p style="font-size: 20px;"><br><h2>Liderar en el Mercado de Superalimentos:</h2> Ser reconocidos como la empresa líder en calidad e innovación en el sector de superalimentos a nivel global.
              <br><br><h2>Impacto Positivo en la Sociedad:</h2> Transformar vidas a través de productos que promuevan la salud y el bienestar.
              <br><br><h2>Sostenibilidad Continua: </h2> Continuar mejorando nuestras prácticas sostenibles y contribuir al cuidado del medio ambiente.
              <br><br><h2>Inspirar un Estilo de Vida Saludable: </h2> Ser una fuente de inspiración y conocimiento para aquellos que buscan mejorar su salud y bienestar a través de la alimentación.</p>
           </div>
       </div>


   </article>
   

   <article class="partetres">



   

    <div class="seccion1">

      <div class="division1"><figure><img 
      src="/static/img/icono entrega segura.png" 
      alt=""></figure>
      <h2>Entrega Segura</h2>
      <p><br>Con una mayor seguridad decontrol de seguimiento
      </p>
      </div>

      <div class="division2">
        
        
      <figure><img src="/static/img/icono pago confiable.png" alt=""></figure>
      <h2>100% Confiable</h2>
      <p><br>Referencias bancarias, Yape o Plin</p>
    
      </div>

    </div>



    <figure class="imagen1">
      <img src="/static/img/WhatsApp Image 2024-07-05 at 03.03.35.jpeg" alt="">
    </figure>



    <div class="seccion2">

      <div class="division1"><figure><img src="/static//img/producto.png" alt=""></figure>
        <h2>Productos 100% puros</h2>
        <p><br>Productos de alta calidad sin mezcla de otras harinas</p>
      </div>

      <div class="division2">
        
        
      <figure><img src="/static/img/icono soporte amigable.png" alt=""></figure>
      <h2>Soporte Amigable</h2>
      <p><br>Atencion especializada via llamadas y Whatsapp</p>
      </div>

    </div>


  </article>

</main>
</body>
</html>