<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/productos.css">
    <title>Productos</title>
</head>
<body>

    <header class="header header-inicio">
        <div class="contenido-header contenedor" style="background-image: url('/static/img/3.jpg'); height: 650px;">
            <div class="barra">
                <div class="logo">
                    <img src="/static/img/logo1.jpeg" alt="logo cafeteria">
                </div>
                <nav class="nav-principal">
                    <a class="activo" href="/natura-viva/inicio">Inicio</a>
                    <a href="/natura-viva/nosotros">Nosotros</a>
                    <a href="/natura-viva/productos">Productos</a>
                    <a href="/natura-viva/recetas">Recetas</a>
                    <a href="/natura-viva/blog">Blog</a>
                    <a href="/login/cerrar">Cerrar Session</a>
                </nav>
            </div>

            <div class="texto-header">
                <h1>PRODUCTOS</h1>
            </div>
        </div>
    </header>
    
    <main>
        <article>
            
            <section class="Productos-total">
                <div class="Productos-titulo">

                </div>
             
                <div class="Superpremium-total">                    
                    <div class="Superpremium-titulo">
                        <h2>Super premium</h2>
                    </div>
                    
                    <div class="Frutas-titulo">
                         <h3>Frutas y verduras</h3>

                        <div class="Tipos-fruta1">
                            <div class="Cuadro-Baya">
                                <img src="/static/img/Baya.png" alt="" class="imagen-Bayas">
                                <div class="Bayas">
                                    <p class="Baya-text">Bayas de Goji orgánicas de alta calidad</p>
                                    <p class="Baya-marca">Organa</p>
                                    <p class="Baya-precio"> S/6.50</p>
                                    <div class="Baya-cantidad">
                                        <p>-</p>
                                        <p>1</p>
                                        <p>+</p>
                                    </div>
                                    <a href="" class="Agregar">Agregar</a>

                                </div>
                            </div>
    
    
                            <div class="Cuadro-Espinacas">
                                <img src="/static/img/espinaca.png" alt="" class="imagen-Espinacas">
                                <div class="Espinacas">
                                    <p class="Espinacas-text">Espinacas en polvo de cultivo ecológico</p>
                                    <p class="Espinacas-marca">Organa</p>
                                    <p class="Espinacas-precio">S/6.50</p>
                                    <div class="Espinacas-cantidad">
                                        <p>-</p>
                                        <p>1</p>
                                        <p>+</p>
                                    </div>
                                    <a href="" class="Agregar">Agregar</a>
                                </div>
                            </div>
    
    
                            <div class="Cuadro-Plátanos">
                                <img src="/static/img/platano.png" alt="" class="imagen-Plátanos">
                                <div class="Plátanos">
                                    <p class="Plátanos-text">Plátanos orgánicos deshidratado</p>
                                    <p class="Plátanos-marca">Organa</p>
                                    <p class="Plátanos-precio">S/6.50</p>
                                    <div class="Plátanos-cantidad">
                                        <p>-</p>
                                        <p>1</p>
                                        <p>+</p>
                                    </div>
                                    <a href="" class="Agregar">Agregar</a>
                                </div>
                            </div>

                            <div class="Cuadro-Acai">
                                <img src="/static/img/acai.png" alt="" class="imagen-Acai">
                                <div class="Acai">
                                    <p class="Acai-text">Acai Berry en polvo liofilizado</p>
                                    <p class="Acai-marca">Organa</p>
                                    <p class="Acai-precio">S/6.50</p>
                                    <div class="Acai-cantidad">
                                        <p>-</p>
                                        <p>1</p>
                                        <p>+</p>
                                    </div>
                                    <a href="" class="Agregar">Agregar</a>
                                </div>
                            </div>
                        </div>

                        <div class="Tipos-fruta2">       
                            <div class="Cuadro-Manzanas">
                                <img src="/static/img/manzanas.png" alt="" class="imagen-Manzanas">
                                <div class="Manzanas">
                                    <p class="Manzanas-text">Manzanas ecológicas deshidratadas</p>
                                    <p class="Manzanas-marca">Organa</p>
                                    <p class="Manzanas-precio">S/6.50</p>
                                    <div class="Manzanas-cantidad">
                                        <p>-</p>
                                        <p>1</p>
                                        <p>+</p>
                                    </div>
                                    <a href="" class="Agregar">Agregar</a>
                                </div>
                            </div>                        
                        </div>
                    </div>
                    
                    <div class="Semillas-titulo">
                        <h3>Semillas y frutos secos bio</h3>
                        <div class="Tipo-semilla">

                            <div class="Cuadro-Chía">
                                <img src="/static/img/chia.png" alt="" class="imagen-Chía">
                                <div class="Chía">
                                    <p class="Chía-text">Chía Superalimento certificada</p>
                                    <p class="Chía-marca">Organa</p>
                                    <p class="Chía-precio">S/6.50</p>
                                    <div class="Chía-cantidad">
                                        <p>-</p>
                                        <p>1</p>
                                        <p>+</p>
                                    </div>
                                    <a href="" class="Agregar">Agregar</a>
                                </div>
                            </div>

                            <div class="Cuadro-Sésamo">
                                <img src="/static/img/sesamo.png" alt="" class="imagen-Sésamo">
                                <div class="Sésamo">
                                    <p class="Sésamo-text">Semillas de Sésamo ecológico tostado</p>
                                    <p class="Sésamo-marca">Organa</p>
                                    <p class="Sésamo-precio">S/6.50</p>
                                    <div class="Sésamo-cantidad">
                                        <p>-</p>
                                        <p>1</p>
                                        <p>+</p>
                                    </div>
                                    <a href="" class="Agregar">Agregar</a>
                                </div>
                            </div>

                            <div class="Cuadro-Nueces">
                                <img src="/static/img/nueces.png" alt="" class="imagen-Nueces">
                                <div class="Nueces">
                                    <p class="Nueces-text">Nueces de Brasil sin cáscara y sin sal</p>
                                    <p class="Nueces-marca">Organa</p>
                                    <p class="Nueces-precio">S/6.50</p>
                                    <div class="Nueces-cantidad">
                                        <p>-</p>
                                        <p>1</p>
                                        <p>+</p>
                                    </div>
                                    <a href="" class="Agregar">Agregar</a>
                                </div>
                            </div>

                            <div class="Cuadro-Almendras">
                                <img src="/static/img/almendra.png" alt="" class="imagen-Almendras">
                                <div class="Almendras">
                                    <p class="Almendras-text">Almendras crudas de primera calidad </p>
                                    <p class="Almendras-marca">Organa</p>
                                    <p class="Almendras-precio">S/6.50</p>
                                    <div class="Almendras-cantidad">
                                        <p>-</p>
                                        <p>1</p>
                                        <p>+</p>
                                    </div>
                                    <a href="" class="Agregar">Agregar</a>
                                </div>
                            </div>
                        </div>
                    </div>     
                </div>                    
            </section>
        </article>
    </main>    
</body>
</html>