<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ESTILOS.CSS">
    <title>RECETAS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova&family=Raleway:wght@700;900&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/recetas.CSS">
</head>
<body>

    <header class="header header-inicio">
        <div class="contenido-header contenedor" style="background-image: url('/static/img/3.jpg'); height: 650px;">
            <div class="barra">
                <div class="logo">
                    <img src="/static/img/logo1.jpeg" alt="logo cafeteria">
                </div>     
                <nav class="nav-principal">
                    <a class="activo" href="/natura-viva/inicio">Inicio</a>
                    <a href="/natura-viva/nosotros">Nosotros</a>
                    <a href="/natura-viva/productos">Productos</a>
                    <a href="/natura-viva/recetas">Recetas</a>
                    <a href="/natura-viva/blog">Blog</a>
                    <a href="/login/cerrar">Cerrar Session</a>
                </nav>
            </div>

            <div class="texto-header">
                <h1>RECETAS</h1>
            </div>
        </div>
    </header>

    <p>-</p>
    <p>-</p>
    <p>-</p>
    <div class="title">RECETAS</div>
    <div class="DESCRIPCION">
        <ul>
            <p>¡Bienvenido a nuestra comunidad de recetas saludables</p>
            <p>En este espacio, encontrarás deliciosas opciones para cuidar de tu bienestar sin sacrificar el sabor. Desde ensaladas frescas hasta batidos energizantes, estamos aquí para inspirarte en tu viaje hacia una vida más saludable.</p>
        </ul>
    </div>
    <div class="receta1">
        <div class="title01">BOWL ACAI</div>
        <img src="/static/img/Imagen 001.jpg" alt="ACAI">
        <div class="ingredientesubT">INGREDIENTES:</div>
        <ul>
            <li>2 plátanos congelados</li>
            <li>40 g de arándanos congelados</li>
            <li>25 g de frambuesas congeladas</li>
            <li>6 almendras</li>
            <li>150 ml de leche</li>
           <li> media tasa de leche de almendras</li>  
            <li>1 cda de açaí en polvo </li>
            <li>Manzanas (para decorar)</li>
            <li>platano y fresas para decorar</li>
            <li>granola para decorar</li>
        </ul>
        <div class="pasos01">PREPARACION</div>
        <ul>
            <p>1. En una licuadora, coloca la fruta congelada junto con las almendras.</p>
            <p>2. Agrega la mitad de la leche y el açaí en polvo. Tritura hasta obtener una mezcla homogénea.</p>
            <p>3. Prueba la consistencia y ajusta agregando el resto de la leche poco a poco hasta alcanzar la textura deseada.</p>
            <p>4. Vierte el batido en un bowl.</p>
            <p>5. Decora con los toppings.</p>
        </ul>
    </div>
    <div class="receta02">
        <div class="title02">SMOOTHIE DE CURCUMA</div>
        <img src="/static/img/img 02 smt curc.jpg" alt="curcuma">
        <div class="ingrSubT02">INGREDIENTES:</div>
        <ul>
            <li>1 plátano</li>
            <li>10 g de cúrcuma molida</li>
            <li>15 g de cacao en polvo</li>
            <li>220 ml de leche o bebida vegetal</li>
            <li>5 ml de esencia de vainilla</li>
        </ul>
        <div class="pasos02">PREPARACION</div>
        <ul>
            <p>1. Corta el plátano en rodajas.</p>
            <p>2. Licua el plátano junto con la cúrcuma molida, el cacao en polvo, la leche o bebida vegetal y la esencia de vainilla hasta que todo esté bien integrado.</p>
            <p>3. Si deseas una consistencia más líquida, agrega más leche o agua hasta alcanzar la textura deseada.</p>
            <p>4. Si deseas una consistencia más líquida, agrega más leche o agua hasta alcanzar la textura deseada.</p>
        </ul>
    </div>
    <div class="receta03">
        <div class="title03">PANQUEQUES DE CAMOTE</div>
        <img src="/static/img/img 03 panqueques.jpeg" alt="camote">
        <div class="ingrSubT03">INGREDIENTES:</div>
        <ul>
            <li>400 gramos de camote (cocido, aproximadamente uno mediano)</li>
            <li>10 g de cúrcuma molida</li>
            <li>15 g de cacao en polvo</li>
            <li>220 ml de leche o bebida vegetal</li>
            <li>5 ml de esencia de vainilla</li>
        </ul>
        <div class="pasos03">PREPARACION</div>
        <ul>
            <p>1. En un tazón, combina el camote cocido, la avena, el polvo de hornear, la canela y la panela.</p>
            <p>2. Agrega los huevos, la leche y el extracto de vainilla. Mezcla bien hasta obtener una masa suelta.</p>
            <p>3. Si la masa está demasiado espesa, agrega más leche poco a poco hasta lograr la consistencia adecuada.</p>
            <p>4. Unta un poco de aceite en la sartén y caliéntala a fuego medio-bajo.</p>
            <p>5. Vierte porciones de la mezcla en la sartén caliente para formar los panqueques.</p>
            <p>6. Cocina cada panqueque durante 3-4 minutos por lado o hasta que estén dorados y cocidos.</p>
            <p>Acompaña los panqueques con fruta fresca, pecanas y miel si lo deseas.</p>
        </ul>
    </div>
</body>
</html>